[submodule "libs/MLX42"]
	path = libs/MLX42
	url = https://github.com/codam-coding-college/MLX42.git
[submodule "libs/libft"]
	path = libs/ft
	url = https://github.com/Jonstep101010/libft.git
[submodule "libs/libutils"]
	path = libs/utils
	url = https://github.com/Jonstep101010/libutils.git
[submodule "libs/libgnl"]
	path = libs/gnl
	url = https://github.com/Jonstep101010/get_next_line.git